@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
.gameContainer {
  background: #974603;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.intro {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 70px;
  display: none;
}

.fireBucket {
  position: absolute;
  bottom: 2%;
  display: none;
}
